[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = http://github.com/kien/ctrlp.vim
[submodule "vim/.vim/bundle/indentLine"]
	path = vim/.vim/bundle/indentLine
	url = http://github.com/Yggdroot/indentLine
[submodule "vim/.vim/bundle/vim-flake8"]
	path = vim/.vim/bundle/vim-flake8
	url = http://github.com/nvie/vim-flake8
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "vim/.vim/bundle/jedi-vim"]
	path = vim/.vim/bundle/jedi-vim
	url = http://github.com/davidhalter/jedi-vim
[submodule "vim/.vim/bundle/auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = http://github.com/SirVer/ultisnips
[submodule "zsh/.config/oh-my-zsh"]
	path = zsh/.config/oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh
