*.log
*log
*.lock
*.bak
*.cache
mpd.db
mpd.pid
auth
ssl/
*.pid
state
*.state
*~
filezilla/
mc/
libreoffice/
htop/
VirtualBox/
dconf/
pulse/
playlists/
gthumb/
gtk-2.0/
Brackets/
laptop/.config/deluge/icons
laptop/.config/deluge/core.conf
laptop/.config/deluge/gtkui.conf
laptop/.vim/.netrwhist
laptop/bin/phantomjs
gtkui.conf
qsettings/
chromedriver
phantomjs
stow*
*/*/.vim/.netrwhist
*/*/.vim/plugged
