*.log
*log
*.lock
*.bak
*.cache
mpd.db
mpd.pid
auth
ssl/
*.pid
state
*.state
*~
mc/
dconf/
pulse/
playlists/
gtkui.conf
qsettings/
chromedriver
phantomjs
stow*
.netrwhist
plugged/
*.m3u
__pycache__
*.pyc
.netrwhist
.gittodo
chromedriver
apps/gimp/gimp-2.8/
*.uuid
